.container{
  position: relative;
  display: flex;
  flex-direction: column;
}

.select{
  padding: 10px 20px;
  width: max-content;
}

.editor {
  display: flex;
  gap: 20px;
  height: 700px;
  position: relative;
}

.button,
.addButton {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--textColor);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.addButton {
  border-color: #1a8917;
}

.add {
  display: flex;
  gap: 20px;
  background-color: var(--bg);
}
.add img {
  cursor: pointer;
}
.input{
  padding: 50px;
  font-size: 64px;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--textColor);
  padding-left: 0;
}

.input::placeholder{
  color: #b3b3b1;
}

.textArea {
  width: calc(100% - 320px);
}

.publish{
  padding: 10px 20px;
  border: none;
  background-color: #1a8917;
  color: white;
  cursor: pointer;
  border-radius: 20px;
  width: max-content;
}
.previewImg {
  position: relative;
  width: 300px;
  height: 300px;
  flex-shrink: 0;
}
.previewImg img {
  object-fit: cover;
}
.options {
  display: flex;
  align-items: center;
  gap: 10px;
}
.preview {
  position: relative;
}
.previewBtn {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1;
  color: gray;
  background: white;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}
.header {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .editor {
    flex-direction: column;
  }
  .textArea {
    width: 100%;
  }
  .preview {
    width: fit-content;
  }
}
@media screen and (max-width: 640px) {
  .header, .options {
    flex-direction: column;
  }
  .options {
    align-items: flex-start;
    margin-top: 10px;
  }
  .publish {
    margin-top: 10px;
  }
}